{% extends 'main.html' %}

{% block content %}
{% if page == 'login-page' %}
  <div>
    <form action="" method="post">
        {% csrf_token %}
        <label for="">username:</label>
        <input type="text" name="username" placeholder="enter username">

        <label for="">password:</label>
        <input type="password" name="password" placeholder="enter password">
        <input type="submit" value="login">
    </form>

    <p>have'nt signed up Yet?</p>
    <a href="{% url 'register' %}">Sign up</a>
  </div>

{% else %}
    <div>
        <form action="" method="post">
            {% csrf_token %}

            {{form.as_p}}
          
            <input type="submit" value="register">
        </form>

        <p>Already signed up ?</p>
        <a href="{% url 'login-page' %}">Login</a>
    </div>
{% endif %}


{% endblock %}